@charset "UTF-8";

html {
    font-size: 100%;
}

a {
    color: #333;
    text-decoration: none;
    :hover {
        opacity: 0.5;
    }
}

img {
    width: 100%;
    vertical-align: bottom;
}

li {
    list-style: none;
}

.top {
    text-align: center;
}