@charset "UTF-8";

html {
    font-size: 100%;
}

a {
    color: #333;
    text-decoration: none;
    :hover {
        opacity: 0.5;
    }
}

img {
    width: 100%;
    vertical-align: bottom;
}
ul {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

dd,dt {
    margin: 0;
}

.top {
    text-align: center;
}

