html {
  font-size: 100%;
}

a {
  color: #333;
  text-decoration: none;
}
a :hover {
  opacity: 0.5;
}

img {
  width: 100%;
  vertical-align: bottom;
}

li {
  list-style: none;
}

.top {
  text-align: center;
}

.home-wrapper {
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

body {
  color: #333;
  font-size: 0.75rem;
  font-family: "Raleway", sans-serif;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.site-title {
  width: 109px;
  line-height: 1px;
  margin: 0 auto 36px auto;
}
@media screen and (max-width: 896px) {
  .site-title {
    margin-bottom: 26px;
  }
}
.site-title a {
  display: block;
}

.wrapper {
  max-width: 800px;
  margin: 0 auto;
}

header {
  max-width: 1000px;
  padding: 46px 0 26px 0;
  margin: 0 auto 50px auto;
  border-bottom: solid 1px #c3c3c3;
}
@media screen and (max-width: 896px) {
  header {
    margin-bottom: 0;
    border-bottom: none;
    padding: 36px 16px 16px 16px;
  }
}

.fashion-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 896px) {
  .fashion-nav {
    overflow-x: scroll;
  }
}
.fashion-nav .menu,
.fashion-nav .login {
  display: flex;
  align-items: center;
}
.fashion-nav .menu li {
  margin-right: 14px;
}
.fashion-nav .login li {
  margin-left: 14px;
}

#item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}
@media screen and (max-width: 896px) {
  #item {
    flex-direction: column;
  }
}
#item .item-image {
  max-width: 400px;
  flex-shrink: 0;
  margin-right: 60px;
}
@media screen and (max-width: 896px) {
  #item .item-image {
    max-width: 100%;
    margin: 0 0 10px 0;
  }
}
@media screen and (max-width: 896px) {
  #item .item-info {
    padding: 0 16px;
  }
}
#item .item-info p {
  margin-bottom: 30px;
  line-height: 1.9;
}
#item .item-info .item-title {
  height: 60px;
  display: flex;
  align-items: center;
  border-top: solid 1px #c3c3c3;
  border-bottom: solid 1px #c3c3c3;
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 20px;
}

#item .item-info .order-table {
  width: 100%;
  margin-bottom: 20px;
}
#item .item-info .order-table .color,
#item .item-info .order-table .size {
  width: 20%;
}
#item .item-info .order-table .quantity {
  width: 60%;
}
#item .item-info .order-table td {
  border-top: solid 1px #c3c3c3;
}
#item .item-info .order-table th,
#item .item-info .order-table td {
  font-weight: normal;
  padding: 10px;
  border-right: solid 1px #c3c3c3;
  text-align: center;
}
#item .item-info .order-table th:last-child,
#item .item-info .order-table td:last-child {
  border-right: none;
}
#item .item-info .order-table select {
  width: 100%;
  border: solid 1px #c3c3c3;
  padding: 0 10px;
}

#item .item-info .cart-btn {
  width: 100%;
  background-color: #4b4b4b;
  color: #fff;
  display: block;
  line-height: 1;
  padding: 18px 0;
  margin-bottom: 30px;
  text-align: center;
}

#item .item-info .size-table {
  width: 100%;
  border-top: solid 1px #c3c3c3;
  border-left: solid 1px #c3c3c3;
}
#item .item-info .size-table .size {
  width: 16%;
}
#item .item-info .size-table .chest,
#item .item-info .size-table .weist,
#item .item-info .size-table .height {
  width: 28%;
}
#item .item-info .size-table th {
  background-color: #ecebeb;
}
#item .item-info .size-table th,
#item .item-info .size-table td {
  font-weight: normal;
  padding: 10px;
  border-right: solid 1px #c3c3c3;
  border-bottom: solid 1px #c3c3c3;
  text-align: center;
}

footer {
  padding: 10px 0;
}
footer .copyright {
  font-size: 0.625rem;
  text-align: center;
}

body {
  background-color: #f0f0f0;
  color: #000;
  font-size: 0.875rem;
}

a {
  color: #000;
  font-size: 0.875rem;
}

.logo {
  width: 100px;
  line-height: 1px;
  margin-right: 60px;
}
.logo a {
  display: block;
}

.section-title {
  font-weight: normal;
  line-height: 1;
  margin-bottom: 50px;
}
.section-title ::after {
  content: "";
}

.wrapper {
  width: 100%;
  max-width: 1032px;
  padding: 0 16px;
  margin: 0 auto;
}

header {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .inner {
  display: flex;
  align-items: center;
}
header .inner ul {
  display: flex;
  align-items: center;
}
header .inner li {
  margin-right: 30px;
}
header .inner li:last-child {
  margin-right: 0;
}
header .contact {
  width: 200px;
  height: 60px;
  line-height: 60px;
  background-color: #000;
  color: #fff;
  font-size: 0.75rem;
  display: inline-block;
  text-align: center;
}
header .contact:hover {
  background-color: #333;
}

/*# sourceMappingURL=style.css.map */
