html {
  font-size: 100%;
}

a {
  color: #333;
  text-decoration: none;
}
a :hover {
  opacity: 0.5;
}

img {
  width: 100%;
  vertical-align: bottom;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

dd, dt {
  margin: 0;
}

.top {
  text-align: center;
}

.home-wrapper {
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

body {
  color: #333;
  font-size: 0.75rem;
  font-family: "Raleway", sans-serif;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.wrapper {
  max-width: 800px;
  margin: 0 auto;
}

.fashion-header {
  max-width: 1000px;
  padding: 46px 0 26px 0;
  margin: 0 auto 50px auto;
  border-bottom: solid 1px #c3c3c3;
}
@media screen and (max-width: 896px) {
  .fashion-header {
    margin-bottom: 0;
    border-bottom: none;
    padding: 36px 16px 16px 16px;
  }
}

.fashion-site-title {
  width: 109px;
  line-height: 1px;
  align-items: center;
  margin: 0 auto 40px;
  display: block;
}
@media screen and (max-width: 896px) {
  .fashion-site-title {
    margin-bottom: 26px;
  }
}
.fashion-site-title a {
  display: block;
}
.fashion-site-title img {
  display: block;
}

.fashion-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 896px) {
  .fashion-nav {
    overflow-x: scroll;
  }
}
.fashion-nav .menu,
.fashion-nav .login {
  display: flex;
  align-items: center;
}
.fashion-nav .menu li {
  margin-right: 14px;
}
.fashion-nav .login li {
  margin-left: 14px;
}

#item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}
@media screen and (max-width: 896px) {
  #item {
    flex-direction: column;
  }
}
#item .item-image {
  max-width: 400px;
  flex-shrink: 0;
  margin-right: 60px;
}
@media screen and (max-width: 896px) {
  #item .item-image {
    max-width: 100%;
    margin: 0 0 10px 0;
  }
}
@media screen and (max-width: 896px) {
  #item .item-info {
    padding: 0 16px;
  }
}
#item .item-info p {
  margin-bottom: 30px;
  line-height: 1.9;
}
#item .item-info .item-title {
  height: 60px;
  display: flex;
  align-items: center;
  border-top: solid 1px #c3c3c3;
  border-bottom: solid 1px #c3c3c3;
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 20px;
}

#item .item-info .order-table {
  width: 100%;
  margin-bottom: 20px;
}
#item .item-info .order-table .color,
#item .item-info .order-table .size {
  width: 20%;
}
#item .item-info .order-table .quantity {
  width: 60%;
}
#item .item-info .order-table td {
  border-top: solid 1px #c3c3c3;
}
#item .item-info .order-table th,
#item .item-info .order-table td {
  font-weight: normal;
  padding: 10px;
  border-right: solid 1px #c3c3c3;
  text-align: center;
}
#item .item-info .order-table th:last-child,
#item .item-info .order-table td:last-child {
  border-right: none;
}
#item .item-info .order-table select {
  width: 100%;
  border: solid 1px #c3c3c3;
  padding: 0 10px;
}

#item .item-info .cart-btn {
  width: 100%;
  background-color: #4b4b4b;
  color: #fff;
  display: block;
  line-height: 1;
  padding: 18px 0;
  margin-bottom: 30px;
  text-align: center;
}

#item .item-info .size-table {
  width: 100%;
  border-top: solid 1px #c3c3c3;
  border-left: solid 1px #c3c3c3;
}
#item .item-info .size-table .size {
  width: 16%;
}
#item .item-info .size-table .chest,
#item .item-info .size-table .weist,
#item .item-info .size-table .height {
  width: 28%;
}
#item .item-info .size-table th {
  background-color: #ecebeb;
}
#item .item-info .size-table th,
#item .item-info .size-table td {
  font-weight: normal;
  padding: 10px;
  border-right: solid 1px #c3c3c3;
  border-bottom: solid 1px #c3c3c3;
  text-align: center;
}

.fashion-footer {
  padding: 10px 0;
}
.fashion-footer .copyright {
  font-size: 0.625rem;
  text-align: center;
}

body {
  background-color: #f0f0f0;
  color: #000;
  font-size: 0.875rem;
}

a {
  color: #000;
  font-size: 0.875rem;
}

.logo {
  width: 100px;
  line-height: 1px;
  margin-right: 60px;
}
@media screen and (max-width: 900px) {
  .logo {
    width: 80px;
    margin: 8px 0;
  }
}
.logo a {
  display: block;
}

.section-title {
  font-weight: normal;
  line-height: 1;
  margin-bottom: 50px;
}
@media screen and (max-width: 900px) {
  .section-title {
    margin-bottom: 34px;
  }
}
.section-title::after {
  content: "";
  width: 40px;
  height: 1px;
  background-color: #000;
  display: block;
}
.section-title .en {
  display: block;
  font-size: 2.25rem;
  letter-spacing: 0.3em;
  margin-bottom: 10px;
}
.section-title .ja {
  display: block;
  font-size: 0.875rem;
  margin-bottom: 36px;
}
@media screen and (max-width: 900px) {
  .section-title .ja {
    margin-bottom: 24px;
  }
}

.wrapper {
  width: 100%;
  max-width: 1032px;
  padding: 0 16px;
  margin: 0 auto;
}

.company-header {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.company-header .inner {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 900px) {
  .company-header .inner {
    flex-direction: column;
    align-items: flex-start;
  }
}
.company-header .inner ul {
  display: flex;
  align-items: center;
}
.company-header .inner li {
  margin-right: 30px;
}
.company-header .inner li:last-child {
  margin-right: 0;
}
.company-header .contact {
  width: 200px;
  height: 60px;
  line-height: 60px;
  background-color: #000;
  color: #fff;
  font-size: 0.75rem;
  display: inline-block;
  text-align: center;
}
@media screen and (max-width: 900px) {
  .company-header .contact {
    display: none;
  }
}
.company-header .contact:hover {
  background-color: #333;
}

.mainvisual {
  margin-bottom: 120px;
}
@media screen and (max-width: 900px) {
  .mainvisual {
    margin-bottom: 80px;
  }
}
.mainvisual img {
  width: 100%;
  height: calc(100vh - 80px);
  object-fit: cover;
}

#news {
  margin-bottom: 120px;
}
#news .list {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 900px) {
  #news .list {
    flex-direction: column;
  }
}

#news .list li {
  width: 33.3333333333%;
  border-right: solid 1px #000;
  padding: 10px 20px;
}
@media screen and (max-width: 900px) {
  #news .list li {
    width: 100%;
    border-right: none;
    padding: 10px 0;
    margin-bottom: 20px;
  }
}
#news .list li:first-child {
  padding-left: 0;
}
#news .list li:last-child {
  border-right: none;
  padding-right: 0;
}
@media screen and (max-width: 900px) {
  #news .list li:last-child {
    margin-bottom: 0;
  }
}
#news .list li .date-area {
  margin-bottom: 16px;
}
#news .list li .date-area span {
  width: 50px;
  height: 20px;
  line-height: 20px;
  background-color: #000;
  color: #fff;
  display: inline-block;
  font-size: 0.75rem;
  margin-left: 10px;
  text-align: center;
}

#about {
  display: flex;
  margin-bottom: 120px;
}
@media screen and (max-width: 900px) {
  #about {
    flex-direction: column;
    margin-bottom: 80px;
  }
}
#about .img {
  width: 55%;
}
@media screen and (max-width: 900px) {
  #about .img {
    width: 100%;
    margin-bottom: 30px;
  }
}
#about .img img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}
@media screen and (max-width: 900px) {
  #about .img img {
    height: 300px;
  }
}
#about .text {
  width: 45%;
  padding: 180px 5% 0 5%;
}
@media screen and (max-width: 900px) {
  #about .text {
    width: 100%;
    padding: 0 16px;
  }
}
#about .text p {
  line-height: 2.2;
}

#business {
  margin-bottom: 120px;
}
@media screen and (max-width: 900px) {
  #business {
    margin-bottom: 80px;
  }
}
#business .flex {
  display: flex;
  justify-content: space-between;
  padding: 0 10%;
}
@media screen and (max-width: 900px) {
  #business .flex {
    flex-direction: column;
    padding: 0;
  }
}
#business .flex .left {
  width: 46%;
  margin-top: 100px;
}
@media screen and (max-width: 900px) {
  #business .flex .left {
    width: 100%;
    margin: 0 0 30px 0;
  }
}
#business .flex .right {
  width: 46%;
}
@media screen and (max-width: 900px) {
  #business .flex .right {
    width: 100%;
  }
}
#business .flex .item {
  margin-bottom: 50px;
}
@media screen and (max-width: 900px) {
  #business .flex .item {
    text-align: center;
    margin-bottom: 30px;
  }
}
#business .flex .item:last-child {
  margin-bottom: 0;
}
#business .flex .title {
  font-weight: bold;
  margin: 0 0 10px 18px;
  position: relative;
}
@media screen and (max-width: 900px) {
  #business .flex .title {
    text-align: left;
  }
}
#business .flex .title::before {
  content: "";
  width: 8px;
  height: 1px;
  background-color: #000;
  position: absolute;
  top: 50%;
  left: -18px;
}

#company {
  height: 750px;
  display: flex;
  align-items: center;
  position: relative;
}
@media screen and (max-width: 900px) {
  #company {
    height: auto;
    flex-direction: column;
    position: static;
  }
}
#company .text {
  width: 55%;
  background-color: #fff;
  padding: 100px 8% 100px 6%;
  position: absolute;
  top: 0;
  left: 0;
}
@media screen and (max-width: 900px) {
  #company .text {
    width: 100%;
    padding: 40px 20px;
    margin-bottom: 20px;
    position: static;
  }
}
#company .img {
  width: 53%;
  position: absolute;
  top: 115px;
  right: 0;
}
@media screen and (max-width: 900px) {
  #company .img {
    width: 100%;
    padding: 0;
    position: static;
  }
}
#company .img img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}
#company .info {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
@media screen and (max-width: 900px) {
  #company .info {
    flex-direction: column;
  }
}

#company .info dt {
  width: 20%;
  margin-top: 10px;
}
@media screen and (max-width: 900px) {
  #company .info dt {
    width: 100%;
    margin-top: 20px;
  }
}
#company .info dt:first-of-type {
  margin-top: 0;
}
#company .info dd {
  width: 80%;
  margin-top: 10px;
}
@media screen and (max-width: 900px) {
  #company .info dd {
    width: 100%;
    margin-top: 20px;
  }
}
#company .info dd:first-of-type {
  margin-top: 0;
}
@media screen and (max-width: 900px) {
  #company .info dd:first-of-type {
    margin-top: 5px;
  }
}
#company .info .add {
  margin-left: 20%;
}
@media screen and (max-width: 900px) {
  #company .info .add {
    margin-left: 0;
  }
}

.company-footer {
  padding: 0 0 20px;
  display: flex;
}
.company-footer .flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 0;
}
@media screen and (max-width: 900px) {
  .company-footer .flex {
    flex-direction: column;
    align-items: flex-start;
    width: 359px;
  }
}
.company-footer .flex .logo {
  margin-right: 0;
}
@media screen and (max-width: 900px) {
  .company-footer .flex .logo {
    margin-bottom: 10px;
  }
}
.company-footer .copyright {
  margin: 0;
  padding: 0;
  font-size: 0.625rem;
  text-align: center;
}

.food-body {
  background-color: #e6e2d7;
  color: 100%;
  font-family: "Noto Serif JP", serif;
}

.foot-site-title {
  line-height: 1px;
  margin-left: 60px;
}
.foot-site-title a {
  display: block;
}
.foot-site-title img {
  width: 40px;
}

.food-wrapper {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 20px;
}
@media screen and (max-width: 768px) {
  .food-wrapper {
    max-width: 100%;
  }
}

.food-header {
  width: 100%;
  height: 100vh;
  background-image: url(../img/food/mv-pc.png);
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  padding: 60px 80px;
  margin-bottom: 180px;
  position: relative;
  writing-mode: vertical-rl;
}
@media screen and (max-width: 768px) {
  .food-header {
    background-image: url(../img/food/mv-sp.png);
    padding: 20px;
    margin-bottom: 80px;
  }
}

.food-nav li {
  margin-left: 25px;
  color: white;
}
.food-nav a {
  color: white;
}

.food-header .food-onlinestore {
  background: rgba(255, 255, 255, 0.2);
  padding: 8px;
  position: absolute;
  left: 40px;
  bottom: 30px;
}
@media screen and (max-width: 768px) {
  .food-header .food-onlinestore {
    left: 20px;
    bottom: 20px;
  }
}
.food-header .food-onlinestore a {
  color: white;
  display: block;
  border: solid 1px #ccc;
  padding: 30px 18px;
}
.food-header .food-onlinestore a:hover {
  opacity: 0.7;
}

.food-nav li {
  margin-left: 25px;
}

.food-news {
  margin-bottom: 180px;
  display: flex;
  flex-direction: row-reverse;
}
@media screen and (max-width: 768px) {
  .food-news {
    margin-bottom: 80px;
  }
}

#food-news .food-section-title {
  font-weight: normal;
  line-height: 1;
  writing-mode: vertical-rl;
}
#food-news .food-section-title .food-en {
  display: block;
  font-size: 0.875rem;
  margin-left: 15px;
}
#food-news .food-section-title .food-ja {
  display: block;
  font-size: 2.25rem;
  letter-spacing: 0.1em;
}
@media screen and (max-width: 768px) {
  #food-news .food-section-title .food-ja {
    font-size: 1.75rem;
  }
}

#food-news .food-list {
  padding: 80px 100px 0 0;
  writing-mode: vertical-rl;
  -webkit-writing-mode: vertical-rl;
  -moz-writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
}
@media screen and (max-width: 768px) {
  #food-news .food-list {
    padding: 20px 30px 0 0;
  }
}
#food-news .food-list dt {
  border-right: solid 1px #000;
  font-size: 0.75rem;
  padding: 15px 30px 15px 5px;
}
@media screen and (max-width: 768px) {
  #food-news .food-list dt {
    padding: 15px 12px 15px 5px;
  }
}
#food-news .food-list dd {
  padding: 15px 0 15px 30px;
}
#food-news .food-list dd:last-child {
  border-left: solid 1px #000;
}

#news .list dt:nth-of-type(n+4) {
  display: none;
}

.food-products {
  display: flex;
  margin-bottom: 180px;
}
@media screen and (max-width: 768px) {
  .food-products {
    margin-bottom: 100px;
  }
}
.food-products .food-section-title {
  font-weight: normal;
  line-height: 1;
}
.food-products .food-section-title .food-ja {
  font-size: 2rem;
  letter-spacing: 0.1em;
  margin-bottom: 18px;
}
@media screen and (max-width: 768px) {
  .food-products .food-section-title .food-ja {
    font-size: 1.5rem;
  }
}
.food-products .food-section-title .food-en {
  font-size: 0.875rem;
}
@media screen and (max-width: 768px) {
  .food-products .food-section-title .food-en {
    display: none;
  }
}

.food-products .food-img {
  width: 65%;
  margin-top: 100px;
  position: relative;
}
@media screen and (max-width: 768px) {
  .food-products .food-img {
    width: 90%;
    margin-top: 70px;
  }
}

.food-products .food-text {
  width: 56%;
  color: #fff;
  padding: 50px 0;
  text-align: center;
  position: absolute;
  bottom: -20px;
}
@media screen and (max-width: 768px) {
  .food-products .food-text {
    width: 64%;
    font-size: 0.875rem;
    padding: 30px 0;
  }
}

#products1 {
  flex-direction: row-reverse;
}
#products1 .food-section-title {
  margin-left: 20px;
  writing-mode: vertical-lr;
}
@media screen and (max-width: 768px) {
  #products1 .section-title {
    margin-left: 10px;
  }
}
#products1 .food-img .food-text {
  background: rgba(249, 233, 6, 0.6);
  left: -20px;
}

#products2 .food-section-title {
  margin-right: 20px;
  writing-mode: vertical-rl;
}
@media screen and (max-width: 768px) {
  #products2 .food-section-title {
    margin-right: 10px;
  }
}
#products2 .food-text {
  background: rgba(149, 42, 38, 0.6);
  right: -20px;
}

#food-shop iframe {
  width: 100%;
  vertical-align: bottom;
}

.food-footer {
  background-color: #000;
  color: #fff;
  padding: 80px 80px 30px 30px;
}
@media screen and (max-width: 768px) {
  .food-footer {
    padding: 40px 20px 30px 20px;
  }
}
.food-footer .food-inner {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 0.875rem;
  margin-bottom: 10px;
}
.food-footer .food-inner .food-left, .food-footer .food-inner .food-right {
  writing-mode: vertical-rl;
  color: #fff;
}
.food-footer .food-inner .food-logo {
  width: 40px;
  margin-left: 60px;
}
@media screen and (max-width: 768px) {
  .food-footer .food-inner .food-logo {
    margin-left: 25px;
  }
}
.food-footer .food-inner .food-info {
  line-height: 2;
  color: #fff;
}
.food-footer .food-inner a {
  color: #fff;
}

.food-footer .food-menu {
  font-size: 1rem;
  margin-right: 60px;
}
@media screen and (max-width: 768px) {
  .food-footer .food-menu {
    font-size: 0.875rem;
    margin-right: 25px;
  }
}
.food-footer .food-menu li {
  margin-left: 25px;
  color: #fff;
}
@media screen and (max-width: 768px) {
  .food-footer .food-menu li {
    margin-keft: 10px;
  }
}
.food-footer .food-menu a {
  color: #fff;
}
.food-footer .copyright {
  font-size: 0 0.625rem;
  text-align: center;
}

/*# sourceMappingURL=style.css.map */
